.carContainer{
  border: 1px solid #ABABAB;
  width: 165px;
  height: 270px;
  margin:2rem;
  display: inline-block;
}

.carHeader{
  height: 3.4rem;
  border-bottom: 1px solid black;
  text-overflow: ellipsis;
}

.carName{
  text-align: center;
  font-size: 2rem;
}

.carBody{
  height: 170px;
}

.iconContainer{
  border: 1px solid #ABABAB;
  border-radius: 100%;
  margin: 1rem 2rem;
  text-align: center;
  height:150px;
  background-color: #F7F7F7;
}

  .fa{
    font-size: 6rem;
    margin-top: 4rem;
    color: green;
  }

.carFooter{
  height: 5rem;
  text-align: center;
}

.options{
  float: left;
  margin-left: 1rem;
}

.x{
  float: right;
  margin-right: 1rem;
}
