.bad {
  background-color: #fff700;
  width: 100%;
  height: 100%;
  font-style: Bold Italic;
  font-family: Tangerine;
}

.header-bad {
  text-align: center;
  color: #25ff03;
  font-size: 40px;
  margin-bottom: 3rem
}

.alphabet-box-bad {
  width: 70%;
  margin: auto;
}

.letter-container-bad {
  display: inline-table;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

.letter-container-bad:hover {
  cursor: pointer;
  text-decoration: none;
}

.letter-bad {
  color: #25ff03;
  font-size: 20px;
  margin: 0;
}

.result-box-bad {
  width: 70%;
  height: 12rem;
  text-align: center;
  margin: auto;
}

.letter-box-bad {
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  border: .5px solid #25ff03;
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.selected-letter-bad {
  color: #ff7b00;
  vertical-align: middle;
  font-size: 30px;
  margin: 0;
  padding-top: 2.5rem
}

.button-container-bad {
  margin-top: 3rem;
  text-align: center;
}

.submitButton-bad {
  background-color: #ff2600 !important;
  color: #ff7b00 !important
}
