.carList {
  border: 1px solid #ABABAB;
  border-radius: 5px;
  margin: 0 2rem 0 2rem;
  padding: 0 !important;
}

.carListHeader {
  text-align: center;
  background-color: #C4C4C4;
  margin: 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ABABAB;
  height: 40px;
  max-height: 40px;
  font-weight: bold;
  top: 0;
  position: sticky;
}

.carItemContainer {
  background-color: #F7F7F7;
  overflow-y:scroll;
  height: 760px;
  max-height: 760px;
}
