.intro {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.header-intro {
  text-align: center;
}

.subHeader {
  text-align: center;
  margin: 5rem 0;
}

.inputForm {
  width: 30rem;
  margin: auto;
  text-align: center;
}

.id-container {
  width: 30rem;
  margin: auto;
  text-align: left;
  padding-bottom: 2rem;
}

.id-button {
  margin-right: 2rem;
}

.id-tag {
  display: inline-block;
  margin-right: 1rem;
}

.id {
  font-weight: bold;
  display: inline-block;
}

#input {
  margin: auto;
}

#inputField {
  margin-bottom: 1rem;
}

.selectionLevel {
  height: 8rem;
  width: 40rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
}

.level {
  padding: 3rem;
  margin: auto;
  display: inline-block;
}

.version {
  font-size: 20px;
  color: black;
  display: inline-block;
  font-weight: bold;
}

.version:hover {
  text-decoration: none;
  cursor: pointer;
}

.admin-button-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
